<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td><strong>Date</strong></td> <td><strong>Room</strong></td> <td><strong>Topics</strong></td> </tr>
      <tr> <td>Thu 27 Jul</td>  <td>IMAS Flex Space (Rooms 103 & 105)</td> <td>Unix shell: navigation, files and directories</td> </tr>
      <tr> <td>Thu 03 Aug</td>  <td>IMAS Flex Space (Rooms 103 & 105)</td> <td>Unix shell: pipes, loops, shell scripts, finding things</td> </tr>
      <tr> <td>Thu 10 Aug</td>  <td>IMAS Flex Space (Rooms 103 & 105)</td> <td>Python: an introductory data analysis example</td> </tr>
      <tr> <td>Thu 17 Aug</td>  <td>IMAS Wet Lab (Room 110)</td> <td>Python: loops, lists, conditionals and functions</td> </tr>
      <tr> <td>Thu 24 Aug</td>  <td>IMAS Wet Lab (Room 110)</td> <td>Python: testing and defensive programming</td> </tr>
      <tr> <td>Thu 31 Aug</td>  <td>IMAS Wet Lab (Room 110)</td> <td>Python: command line programs and debugging</td> </tr>
      <tr> <td>Thu 07 Sep</td>  <td>IMAS Wet Lab (Room 110)</td> <td>Python: tour of the scientific Python stack, question and answer session</td> </tr>
      <tr> <td>Thu 14 Sep</td>  <td>IMAS Aurora Lecture Theatre</td> <td>Git: Version control</td> </tr>
    </table>
  </div>
</div>

<p>Lesson notes for all these sessions can be found at the Software Carpentry <a href="{{site.swc_site}}/lessons">lessons page</a>.</p>
